.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 2px;
    align-items: flex-start;
    background: rgba(60, 60, 60, 0.2);
    background: white;
}

/* Create four equal columns that sits next to each other */
.column {
    display: flex;
    flex: 25%;
    max-width: 25%;
    flex-wrap: wrap;
    padding: 0 4px;
}

// HTML <img> selectors

// .column img {
//     margin-top: 8px;
//     vertical-align: middle;
//     min-height: 582px;
//     object-fit: cover;
//     transition: padding .5s, filter .2s;
// }

// .column img:hover {
//     padding: 7px 0 0 7px;
//     filter:drop-shadow(8px 8px 10px black);
// }

.image_div {
    position: relative;
    min-width: 327px;
    height: 582px;
    overflow: hidden;
    padding: 8px 0;
    transition: padding .5s, filter .2s;
}

.image_div img {
    margin-top: 8px;
    vertical-align: middle;
    max-height: 582px;
    object-fit: cover;
}

.image_div:hover {
    padding: 7px 0 0 7px;
    filter:drop-shadow(8px 8px 10px black);
    z-index: 2;
}


@media screen and (max-width: 768px) {
    .column {
        max-width: 100%;
        width: 100%;
    }

    .row {
        flex-direction: column;
    }
}
