// =================================================
// ================= Containters ===================
// =================================================
.header {
<<<<<<< HEAD
    background: none;
=======
    width: 100%;
    height: 140px;
    background: orange;
>>>>>>> d9eb324cff6dec8953b7efca979fff815a8917cf
}

.photo_div {
    display: flex;
    flex-direction: column;
    // background: red;
<<<<<<< HEAD
=======
    height: calc(100vh - 140px)
>>>>>>> d9eb324cff6dec8953b7efca979fff815a8917cf
}

.main_footer {
    display: flex;
<<<<<<< HEAD
    justify-content: space-evenly;
=======
>>>>>>> d9eb324cff6dec8953b7efca979fff815a8917cf
}

.col1 {
    display: flex;
    flex-direction: column;
    // background: blue;
    flex: 2;
}

.col2 {
    // background: green;
    display: flex;
    flex-direction: column;
    flex: 1;
<<<<<<< HEAD
    margin-left: 1em;
=======
>>>>>>> d9eb324cff6dec8953b7efca979fff815a8917cf
}

// =================================================
// ================= Column 1 ======================
// =================================================
.breadcrumb {
    height: 10%;
    // background: white;
}

.photo_container {
    position: relative;
    flex: 1;
    width: auto;
    min-height: 450px;
}

.photo {
    height: auto;
    width: 100%;
}

// =================================================
// ================= Column 2 ======================
// =================================================
.col2_header {
    display: flex;
    flex-direction: column;
}

.col2_cta {
    display: flex;
}

.author_section {
    display: flex;
}

.avatar {
    // background: orange;
}

.author_details {
    display: flex;
    flex-direction: column;
}
.author {
    // background: silver;
}

.author_bio {
    // background: fuchsia;
}


.title {
    // background: cadetblue
}

.like_cta {
    // background: pink;
}

.add_cta {
    // background: gold
}

.download_cta {
    // background: brown
}

.info_title {
    // background: burlywood;
}

.date {
    // background: salmon;
}
