// =================================================
// ==================== Blocks =====================
// =================================================
.header {
    background: none;
    width: 100%;
    height: 140px;
    background: orange;
}

.photo_div {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 140px)
}

.main_footer {
    display: flex;
    justify-content: space-evenly;
}

.col1 {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.col2 {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-left: 1em;
}

.photo_full {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

// =================================================
// ================= Column 1 ======================
// =================================================
.breadcrumb {
    margin: 1.2em 0;
}

.photo_container {
    flex: 1;
    position: relative;
    max-width: 740px;
    min-height: 550px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: 8px 8px 10px black;
}

.photo {
    height: auto;
    width: 100%;
}

// =================================================
// ================= Column 2 ======================
// =================================================
.col2_header {
    display: flex;
    flex-direction: column;
}

.col2_cta {
    display: flex;
}

.author_section {
    display: flex;
}

.author_details {
    display: flex;
    flex-direction: column;
}

.title {
    text-transform: capitalize;
    font-weight: 600;
    font-size: 21.5px;
}
